body {
	margin: 0 !important;
	background-color: black;
	color: white;
}

#main-img {
	height: 100%;
/*	position: absolute;*/
	height: 100vh;
	display: flex;
	justify-content: center;
}

#enter {
	position: absolute;
	top: 400px;
	left: calc(50vw - 20px);
	z-index: 2;
}

.maintext {
	position: absolute;
	top: 400px;
	margin: 0 auto;
	z-index: 2;
	display: none;
	width: 80vw;
	left: 10vw;
}

a {
	background-color: white;
}